

.sidecolumn {
  height: 660px;
}

.classify-text{
  color: maroon;
  text-align: center;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-style: italic;
  margin-top: 6%;
}


.page{
  height: 650px;
  background-image: url("../images/IndianaLogo.png");
  background-repeat: no-repeat;
  background-position: center;
}
nav{
  color:#2fafc9;
  font-weight: bold;
}

.navbar-toggle {
  padding: 25px;
  text-align: left;
  justify-content: left;
  align-items: left;
}

#productslink{
  margin-right:75%;
}

.navbar-header{
  background-color: f9f1ee;
  border: none;
}


.sign-up-div{
  margin-top: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#sign-up-button {
  background-color: #e6661c;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#sign-up-button:hover{
  background-color: aliceblue;
  color:#e6661c;
}

#sign-in-button {
    color: white;
    background-color: lightcoral;
    border: none;
    font-weight: bold;
    margin-top: -8px;
    margin-right: 15px;
}

#sign-in-button:hover{
  background-color: aliceblue;
  color: maroon;
}

#sign-in-header {
  text-align: center;
  font-weight: bold;
  color: maroon;
}

#aboutus-text {
  text-align: center;
  margin-right: 30px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
 
.aboutus-desc {
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 100px;
  font-size: 17px;
}

.title-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-weight: bold;
  color: maroon;
  font-size: 50px;
  text-align: center;
  
}

.descriptive-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  color: maroon;
  font-size: x-large;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.background-image {
  margin-left: 300px;
}

footer {
  text-align: center; 
  border-top: 1px solid maroon;
  padding: 10px;
  margin-top: 20px;
}

.navbar-default {
    background-color: maroon;
    border-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    padding: 30px;
    font-size: 15px;
}

.navbar-right {
    float: right;
    margin-right: 20px;
}

#refereeTable {
  border-top:none;
  border:none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

th{
  text-align: center;
}

td{
  text-align: center;
}

.product-image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
}

.product {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 400px;
}

.product-image-desc {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  text-align: center;
  color: #e6661c;
  text-decoration: none;
  font-size: 15px;
}

.product-image:hover {
  width: 300px;
}

form {
  background-color: white;
  color: black;
  border-radius: 6pt;
  padding: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}
input,textarea,select{
  margin-bottom: 5pt;
  color:black;
}

textarea{
  width: 25%;
  height: 30%;
}

.button {
  background-color: #eeeeee;
  border-style: solid;
  border-color:black;
  border-width: 1pt;
  color:black;
  padding: 5pt;
  border-radius: 0pt;
}

h1{
  color:#e6661c;
}

.login {
    background-color: white;
    width: 40%;
    margin: 150px auto;
    border-radius: 10px;
    padding: 20px;
    border-left: 5px solid maroon;
    box-shadow: 0px 0px 0px 0px lightcoral;
}

.login>.row>h2 {
    margin: auto;
}

label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
}

.btn-form {
    width: 100%;
    margin-top: 20px;
}

h3 {
  text-align: left;
  color: #2fafc9;
  margin-bottom: 20px;
}

.btn-primary {
    color: #fff;
    background-color: maroon;
    border-color: maroon;
    padding-left: 35%;
    padding-right: 35%;
    margin-top: 20px;
}

.form-control {
  height: 40px;
}

.input-group-addon {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-left {
  width: 20%;
  font-weight: bold;
  padding: 10px;
}

.table-right {
  width: 80%;
  padding: 10px;
}

.sign-in-page {
  height: 80%;
  background-image: url("images/background-boxes.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  height: 100%;
}

.empsheet{
  color: #e6661c;
  text-align: center;
}

.sign-up-table {
  padding: 10px;
}

.productselect{
  background-color: none;
}

form {
    background: none;
    color: black;
    border-radius: 4px;
    padding: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

.product-img-individual {
  width: 300px;
  margin-left: 7%;
  margin-top: 20%;
}
.confirmationbutton{
  background-color:#e6661c;
  color: aliceblue;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 4px; 
  margin-left: 40px;
  margin-right: 10px;
}

.confirmationbutton:hover{
  background-color:aliceblue;
  color: #e6661c;
}

.orderbutton{
  background-color: #2fafc9;
  color: aliceblue;
  
}

.add_form_field {
  margin-bottom: 20px;
  margin-top: 10px;
}

.place-order {
  text-align: center;
}

.place-order-selectors {
  margin-left: 5px;
}

.delete {
  margin-left: 10px;
}